<!DOCTYPE html>
<html>
<head>
<title>HealthWatch</title>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="css/style.css"/>
</head>

<body>
<div class="wrapper">
    <a href="profile.html"><img class="logo" src="images/profilepic.svg"/></a>
  </div>
  <ul id="navBar">
    <li><a class="menulink" href="meals.html">Meals</a></li>
    <li><a class="menulink" href="gallery.html">Gallery</a></li>
    <li><a class="active" href="addmeal.html">Add meal</a></li>
    <li><a class="menulink" href="forums.html">Forums</a></li>
  </ul>
  <img class="header" src="images/header.svg"/>

  <div class="mainContent">
    <span title="Gluten foods: bread, pasta, etc..."><img src="images/bread.svg" width="100px"/></span>
    <span title="Fruits: bananas, tomatoes, grapes..."><img src="images/fruits.svg" width="100px"/></span>
    <span title="Dairy: foods that contain milk, like cheese, yoghurts, etc..."><img src="images/dairy.svg" width="100px"/></span>
    <span title="Candies/junk food: chips, sweets, cookies..."><img src="images/candy.svg" width="100px"/></span>
    <span title="Seafood: fish, crab, squid..."><img src="images/seafood.svg" width="100px"/></span>
    <span title="Nuts/seeds: peanut, almonds, hemp seeds..."><img src="images/nuts.svg" width="100px"/></span>
    <span title="Meats: chicken, beef, turkey, etc..."><img src="images/meat.svg" width="100px"/></span>
    <span title="Vegetables: carrots, beets, leafy greens..."><img src="images/veggies.svg" width="100px"/></span>
    <br/>
    <input id="addMeal" type="submit" value="Add meal">

  </div>

<script>
  document.getElementById('addMeal').onclick = function() {
     alert("Meal added!");
  }​;​
</script>

</body>

</html>
