<!DOCTYPE html>
<html>
<head>
<title>HealthWatch</title>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css"/>
</head>

<body>
<div class="wrapper">

  </div>
  <ul id="navBar">
    <li><a class="menulink" href="meals.html">Meals</a></li>
    <li><a class="menulink" href="gallery.html">Gallery</a></li>
    <li><a class="menulink" href="addmeal.html">Add meal</a></li>
    <li><a class="menulink" href="forums.html">Forums</a></li>
  </ul>
  <div class="profileHeader">
    <img class="header" src="../../images/header.svg"/>
  </div>
  <div class="mainContent">
    <img class="profilepic" src="../../images/profilepic.svg"/>
  <form action="/profile.html">
    <p class="text-center">
    Username:<br/> <input type="text" name="username"><br>
    E-mail:<br/> <input type="text" name="email"><br>
    Password:<br/> <input type="text" name="pwd1"><br>
    Date of birth:<br/> <input id="date" type="date"><br>
    Weight: <br/> <input type="text" name="weight"><br>
    <input type="submit" value="Save settings">
    </p>
  </form>
</div>

</body>

</html>
